body { 
    font-family: "Inder", sans-serif;
    font-size: 16px;
    color: black;
    border-top:5px solid #be1e2f;
    background-image: url(grid.png);
    margin: 0;
}
h1 { 
    font-size: 26px;  
    color: #111;
    margin: 0;
} 

h2 {
    font-size:20px;
    color:#be1e2f;
    margin: 8px 0px 16px 0px;
}

a {
    color:#111;
    text-decoration: none;
}

a:hover {
    color:#be1e2f;
}

img {
    max-width: 100%;
}

#wrapper {
    width: 60%;
    margin: 50px auto 50px auto;
    padding: 5%;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0,0,0,.3);
    position: relative;
} 

header{
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,.3)
}

form {
 
}

#content{
    overflow: hidden;
    position: relative;
}

section{
    width:60%;
    margin-right: 10%;
    float:left;
}
aside{
    width:30%;
    float:right;
}


footer {
    text-align:center;
    color: #bbb;
}

@media (max-width: 800px) {
    #wrapper { 
        width: 80%; 
    }
    section, aside {
        width: 100%;
    }
    nav li {
        padding: 0 15px;
    }
}
