code.hljs {
	background: transparent;
}

pre {
	padding: 0px;
}

#checkin {
	margin-top: 2em;
	margin-bottom: 4em;
}

#store {
	margin-bottom: 4em;
}

h4 {
	margin-top: 1.5em;
}

header.navbar {
	min-height: 34px; /*bring in line with Pres*/
}

#logo {
	width: 200px;
	position: absolute;
	position: fixed;
	bottom: 1em;
	right: 1em;
}
